<h3>HALLO, TIM PUSAT</h3>

<p>
<i><strong style="font-size:37px">F</strong>or Your Information</i>, penginputan absensi untuk cabang tersebut sudah selesai diproses pada <strong>Aplikasi Perhitungan Komisi SPG/M</strong>.
Jadi sekarang giliran kamu untuk input potongan Pph21. Kamu harus login dengan user yang ditunjuk sebagai penanggung jawab PPh21.
</p>
<p>
So... silahkan klik untuk melihat detil di aplikasi (<a href="http://192.182.10.3/sales" style="color:blue">klik disini</a>) <strong>AND HAVE FUN !!!</strong>
</p>
<div style="float:right; text-align:center; margin-right:37px">
<img src="http://192.182.10.3/sales/images/Good-Luck-Smily611.jpg" style="border:none;" height="147px" />
<h3>GOOD LUCK!</h3>
</div>
