<style>

div.item-campaign{
	margin:3px;
	float:left;
	padding:3px 7px 3px 3px;
}
div.merah{background-color:#ffb3b3;}
div.kuning{background-color:#ffff99;}
div.hijau{background-color:#80ff80;}
div.biru{background-color:#9999ff;}
div.item-campaign span{
	border:#CCC solid 1px;
	background-color:#EEE;
	margin:7px;
	padding:3px;
}
</style>