<style>
.table-header, #table-data{
	margin: 0 auto;
}
.table-header{
	max-width:100%;
	font-weight:600;	
	margin-bottom:23px;
}
.table-header td:nth-child(1){
	min-width:200px;
}
.table-header td{
	border-bottom:#999 dotted 1px;
}
#table-data{
	float:left;
	border-collapse: separated;
	border: none solid #666;
	width:97%;
	text-align:center;	
}
#table-data td{
	padding:3px;
	border: none solid #CCC;
	background-color:transparent;
}
#table-data tr:first-child td{
	border:none;
}
#table-data tr:nth-child(2) td{
	font-weight:900;
	background-color:transparent !important;
	border:1px solid #999;
}
#table-data tr:last-child td{
	font-weight:900;
	border:none;
}
#rekap-penjualan-note{
	margin-top:7px; 
	padding:7px; 
	border:solid 1px #CCC; 
	background-color:#EEE; 
	text-align:center; 
	font-weight:900
}
input[type=text]{
	border:none !important;
	background-color:#ffff99;
}

.bg-nilai-nol{
	background-color:red;
	color:white;
	padding:0px 17px 0px 17px;
	font-weight:900;
}

#b_tambah_bawah{display:block !important; float:left}

.checkbox{
	margin-right:17px;
	vertical-align:middle;
}
#kontainer-isian input[type=text], select{
	width:100% !important;
}
#kontainer-isian div{
	padding-bottom:7px;
}

#table-data div{
	text-align:left;
}
</style>